Flask
Flask-Cors
Werkzeug
Jinja2
click
itsdangerous
MarkupSafe
blinker

PyJWT
bcrypt
pydantic
typing_extensions

supabase
postgrest
gotrue
realtime
storage3
supafunc

httpx
httpcore
httplib2

google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
cloudinary

requests
certifi
charset-normalizer
idna
urllib3

reportlab

python-dotenv
python-dateutil
six
colorama
deprecation
packaging
more-itertools
setuptools

gunicorn
